
@media(max-width: 991px){
    footer{
      padding: 80px 0;
    }
    footer .about-footer{
      margin-bottom: 30px;
    }
  }
  
  @media(max-width: 767px){
    footer{
      padding: 40px 0;
    }
    footer .title{
      margin-bottom: 20px;
    }
    footer .contact-footer{
      margin-bottom: 30px;
    }
    footer .newsletter form .form-group{
      max-width: 260px;
    }
    footer .newsletter p{
        margin-bottom: 20px;
    }
  }
  @media(max-width: 1400px){
    .banner .banner-inner{
      padding: 140px 0;
    }
  }
  @media(max-width: 1199px){
    .banner .banner-inner{
      padding: 80px 0;
    }
    .banner .banner-inner .banner-text .heading h2{
      font-size: 35px;
    line-height: 45px;
    }
    .banner .banner-inner .banner-text .heading h3{
      font-size: 26px;
      line-height: 30px;
    }
    .banner .banner-inner .banner-text .heading p{
      font-size: 18px;
    }
  }
  @media(max-width: 991px){
    .banner .banner-inner{
      padding: 40px 0;
    }
    .sticky-top{
      padding: 15px 0;
    }
    .sticky-top .navbar-nav .nav-item{
      padding: 0;
      margin: 0;
    }
    .sticky-top .navbar-nav .nav-item .nav-link{
     padding: 0;
     line-height: 40px;
    }
    .banner .banner-inner .banner-text .heading h2{
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 20px;
    }
    .banner .banner-inner .banner-text .heading p{
      margin-bottom: 30px;
    }
    .tab .nav .nav-item .nav-link{
      padding: 20px 50px;
    }
  }
  @media(max-width: 575px){
    .banner .banner-inner .banner-text .heading h2{
    font-size: 22px;
    line-height: 30px;
    }
    .banner .banner-inner .banner-text .heading h3{
      font-size: 20px;
      line-height: 25px;
    }
    .banner .banner-inner .banner-text .heading p{
      font-size: 15px;
      line-height: 25px;
    }
    .tab .nav .nav-item .nav-link{
      padding: 10px 8px;
      font-size: 13px;
    }
  }

@media(max-width:1400px){
  .tab{
    padding-bottom: 100px;
  }
}
@media(max-width:1199px){
  .tab{
    padding-bottom: 80px;
  }
}
@media(max-width:991px){
  .tab{
    padding-bottom: 60px;
  }
}

@media(max-width:991px){
  .section.portfolio .filters{
    margin-top: 20px;
  }
  .section.portfolio .filters-content{
    margin-top: 20px;
  }
  .section.portfolio .filters ul li{
    margin-right: 20px;
  }
  .counter .counting-box .counting-details p{
    font-size: 14px;
  }
  .counter .counting-box .counting-details .counting{
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 0;
  }
  .counter .counting-box .icon {
    padding: 15px;
  }
  .counter .counting-box .icon img{
    max-width: 40px;

  }
}
@media (max-width:1599px){
  .banner .banner-inner .banner-text .heading h2{
    font-size: 35px;
  }
  .request {
    padding: 100px 0;
  }
  .mechanical-ico-box{
    width: 80px;
    height: 80px;
  }
  .mechanical-need-content h4{
    font-size: 18px;
  }
  .hvac-services-list li{
    padding-bottom: 20px;
  }
}
@media(max-width:1400px){
  .feature-wrapper{
    padding: 100px 0;
  }
  .counter{
    padding: 100px 0;
  }
  .training{
    padding: 100px 0;
  }
  .request{
    padding: 100px 0;
  }
  .testimonial .item .text-box p{
    font-size: 16px;
  }
}
@media (max-width:1439px) {
  .section-pt {
    padding-top: 60px;
  }
  .section-mt {
    margin-top: 60px;
  }
  .program-work-wrap{
    margin-top: 80px;
  }
  .hvac-services-highlight{
    font-size: 26px;
  }
  .mechanical-ico-box {
    width: 70px;
    height: 70px;
  }
  .mechanical-ico-box img{
    max-width: 40px;
  }
}
@media(max-width:1199px){
  .feature-wrapper{
    padding: 80px 0;
  }
  .counter{
    padding: 80px 0;
  }
  .training{
    padding: 80px 0;
  }
  .request{
    padding: 80px 0;
  }
  .program-work-wrap{
    grid-gap: 20px;
  }
  .program-work-content h4{
    font-size: 23px;
  }
  .plan-reduce-head {
    background-color: #DEE7EF;
    padding: 15px 24px;
    min-height: 80px;
  }
  .banner .banner-inner .banner-text .heading h2 {
    font-size: 26px;
  }
  .hvac-services-list li {
    padding-bottom: 13px;
    font-size: 14px;
  }
}
@media(max-width:991px){
  .feature-wrapper{
    padding: 40px 0;
  }
  .counter{
    padding: 40px 0;
  }
  .training{
    padding: 40px 0;
  }
  .testimonial{
    padding: 40px 0;
  }
  .request{
    padding: 40px 0;
  }
  .training .training-text .heading h2{
    margin-bottom: 20px;
  }
  .training .training-text .heading p{
    margin-bottom: 30px;
  }
  .testimonial .item .text-box p{
    font-size: 18px;
    line-height: inherit;
  }
  .testimonial .heading h2{
    margin-bottom: 20px;
  }
  .testimonial .heading p{
    margin-bottom: 30px;
  }
  .request .request-text .heading h2{
    margin-bottom: 20px;
  }
  .request .request-text .heading p{
    margin-bottom: 30px;
  }
  .request .request-text{
    padding: 50px 0;
  }
  .heading h2{
    font-size: 22px;
  }
  .program-work-col{
    height: 250px;
  }
  .program-work-content h4 {
    font-size: 20px;
  }
  .plan-reduce-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .hvac-services-wrap{
    padding-bottom: 0;
    margin-top: 20px;
  }
  .hvac-services-highlight{
    line-height: inherit;
    font-size: 20px;
  }
}
@media(max-width:767px){
  .feature-wrapper .heading h2{
    font-size: 22px;
    line-height: 30px;
  }
  .feature-wrapper .feature-box .feature-block .feature-block-details{
    margin-bottom: 30px;
    display: block;
    justify-content: center;
    text-align: center;
  }
  .feature-wrapper .feature-box .feature-block .feature-block-details p{
    margin: 10px auto;
  }
  .feature-wrapper .heading h2{
    margin-bottom: 30px;
  }
  .counter .counting-box{
    margin-bottom: 30px;
  }
  .testimonial .item .text-box p{
    font-size: 16px;
    line-height: 30px;
  }
  .program-work-wrap {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  }
  .heading h2{
    font-size: 24px;
    line-height: 30px;
  }
  .request .request-text{
    border-radius: 50px 0px
  }
  .plan-reduce-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .plan-reduce-head{
    min-height: auto;
  }
}
@media(max-width: 575px){
  .request .request-text .heading p{
    max-width: 290px;
    margin: 0 auto 30px;
  }
  .section-pt {
    padding-top: 40px;
  }
  .section-mt {
    margin-top: 40px;
  }
  .program-work-wrap{
    margin-top: 30px;
  }
  .heading h2{
   margin: 30px 0;
   font-size: 20px;
  }
  .heading p{
    font-size: 15px;
  }
  .sticky-top.fixed-menu .navbar-nav .nav-item .nav-link{
    padding: 13px 0;
    line-height: inherit;
  }
  .mep-design-list {
    margin-top: 30px;
  }
  .program-work-content h4 {
    font-size: 16px;
  }
  .program-work-col {
    height: 200px;
  }
  .my-button{
    font-size: 16px;
  }
  .banner .banner-inner .banner-text .heading h2 {
    font-size: 20px;
  }
  .plan-reduce-head,.plan-reduce-content {
    padding: 15px;
  }
  .mechanical-ico-box {
    width: 60px;
    height: 60px;
    border-radius: 20px 0px;
  }
  .mechanical-ico-box img {
    max-width: 30px;
  }
  .hvac-services-highlight{
    font-size: 18px;
  }
  .mechanical-needs-box {
    margin-top: 45px;
  }
  .hvac-services-img-box{
    height: 300px;
    margin-top: 0;
  }
}
@media(max-width: 350px){
  .program-work-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
 